Package: liveg-hello
Version: 0.1.0
Section: base
Priority: optional
Architecture: all
Depends: bash (>= 5.0.0)
Maintainer: LiveG Technologies <hi@liveg.tech>
Description: An example package for the LiveG APT Repository
    This package can be used to test whether the LiveG APT Repository is
    enabled, and is not designed to be a mandatory package.
